@charset "utf-8";
/* CSS Document */

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
	margin: 0;
	padding: 0;
}

img {
	border:none;
}
a {
	border:none;
	outline:none;
}
*{outline: none;}

.container {
	width:100%;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.header {
	width:100%;
	height:126px;
	background:#000;
}
.body_content {
	width: 972px;
	height:auto;
	float:left;
}
.body_content_left {
	width:162px;
	height:auto;
	float:left;
	padding-left:18px;
	padding-top:42px;
}
.body_content_right {
	width: 782px;
	height:auto;
	float:left;

	padding-left:10px;
}
a:link {color:#003366; text-decoration:none;}
a:visited {color:#003366; text-decoration:none;}
a:hover {color:#003366; text-decoration:underline;}
a:active {color:#003366; text-decoration:none;}

.footer {
	width:100%;
	height:50px;
	background:#000;
	float:left;

}