﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Help.aspx.cs" Inherits="Users_Help" MasterPageFile="~/Users/UserPages.master" %>

<asp:Content runat="server" ContentPlaceHolderID="headPlaceholder">
    <title></title>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="bodyPlaceholder">
the help goes here!
</asp:Content>
