﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ClientStartPage.aspx.cs" Inherits="PSG.WebService.ClientStartPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<asp:literal runat="server" ID="litBody"></asp:literal>
</html>

